/* Сперва общие правила */

* {
    box-sizing: border-box


}

/* Потом селекторы по тегам */

html {
font-family: Geneva, Arial, Helvetica, sans-serif;
}

main {
    width: 300px;
    margin: 0px auto;
}

p {
font-size: 12px;
line-height: 20px;
font-weight: 530;
}

a {

}

/* Колонки */

.row {

}
.col {
width: 150px;

}
.tag{
color: #554AF0;
font-weight: 540;
}


/* Потом селекторы по классам */

.text-input {


}

.button {
background: #554AF0;
color: white;
border-radius: 4px;
padding: 7px 13px;
border-width: 0px;
margin: 15px 0 0 0;
}

.button-link {
font-size: 13px;
text-decoration: none;
background: #554AF0;
color: white;
border-radius: 4px;
padding: 9px 17px;
border-width: 0px;
margin: 15px 10px 0 0;
}


/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
color: #d7d7d7;
width: inherit;
border-color: #d7d7d7   ;
border-style: solid;
border-radius: 4px;
border-width: 1.7px;
padding: 8px 8px;
margin: 8px 0 4px 0;

}


/* Страничка жанров и тегов */

.genre-first {
background: #E1F5EA;
font-size: 13px;
font-weight: bolder;
border-radius: 2px;
padding: 9px 14px;
border-width: 0px;
margin: 15px 10px 0 0;
}

.genre-second {
background: #CBEDFF;
width: 220px;
font-size: 13px;
font-weight: bolder;
border-radius: 2px;
padding: 9px 14px;
border-width: 0px;
margin: 15px 10px 0 0;
}

.genre-third {
background: #FBECDD;
width: 150px;
font-size: 13px;
font-weight: bolder;
border-radius: 2px;
padding: 9px 14px;
border-width: 0px;
margin: 15px 10px 0 0;
}

.genre-fourth {
background: #EBDCF9;
width: 90px;
font-size: 13px;
font-weight: bolder;
border-radius: 2px;
padding: 9px 14px;
border-width: 0px;
margin: 15px 10px 0 0;
}

.tag {

}

/* Страничка популярного */

.row{
display: flex;

}

.cover {
width: 150px;
height: 220px;
margin: 10px 10px 10px 0;

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
